@if (confirmService.isOpen()) {
  <div class="confirm-modal-overlay">
    <!-- Backdrop -->
    <div (click)="confirmService.handleAction(false)"
          class="confirm-modal-backdrop"></div>
  
  <!-- Modal Body -->
  <div class="confirm-modal-body">
    <div class="confirm-modal-content">
      <!-- Icon Header -->
      <div [ngClass]="{
        'bg-primary/10 text-primary': confirmService.config()?.type === 'primary',
        'bg-rose-50 text-rose-600': confirmService.config()?.type === 'danger',
        'bg-green-50 text-green-600': confirmService.config()?.type === 'success'
      }" class="confirm-modal-icon-container">
        <svg *ngIf="confirmService.config()?.type === 'danger'" class="confirm-modal-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <svg *ngIf="confirmService.config()?.type === 'success'" class="confirm-modal-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <svg *ngIf="confirmService.config()?.type === 'primary'" class="confirm-modal-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>

      <h3 class="confirm-modal-title">{{ confirmService.config()?.title }}</h3>
      <p class="confirm-modal-message">
        {{ confirmService.config()?.message }}
      </p>
    </div>

    <!-- Actions -->
    <div class="confirm-modal-actions">
      <button (click)="confirmService.handleAction(false)"
              class="confirm-modal-btn-cancel">
        {{ confirmService.config()?.cancelText }}
      </button>
      
      <button (click)="confirmService.handleAction(true)"
              [ngClass]="{
                'bg-primary hover:bg-primary-hover shadow-primary/20': confirmService.config()?.type === 'primary',
                'bg-rose-600 hover:bg-rose-700 shadow-rose-200': confirmService.config()?.type === 'danger',
                'bg-green-600 hover:bg-green-700 shadow-green-200': confirmService.config()?.type === 'success'
              }"
              class="confirm-modal-btn-confirm">
        {{ confirmService.config()?.confirmText }}
      </button>
    </div>
  </div>
</div>
}
